.featured-products{
  padding: 20px 0 50px;
  .commerce-product{
    margin: 40px auto;
  }
}

.testimonial{
  margin-bottom: 0;
  background-image: url("../images/fisherman-pier-catching-fish-during-sunny-beautiful-day-dark.jpeg");
  background-size: cover;
  background-position: center;
  height: 350px;
  &__text{
    font-style: italic;
  }
  &__rating{
    margin: 15px 0;
  }
}

.lakes-gear {
  text-decoration: none;
  color: inherit;
  background-image: url("../images/top-view-fishing-essentials-dark.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;

  .container-fluid {
    width: 100%;
  }
}

.lakes-gear-header-text {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  transition: font-size 0.3s ease, color 0.3s ease;

  &:hover {
    font-size: 45px;
    color: #ffffff;
  }
}
